In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from scipy.stats import linregress
from config import api_key
from config import g_key
from census import Census
c = Census(api_key, year=2013)

# File to Load (Unclean member file)
file_to_load = "active_lapsed.csv"

# Read unclean member file and store into Pandas data frame
member_data = pd.read_csv(file_to_load)
member_data.head()

from sqlalchemy import create_engine

In [2]:
# Define DataFrames for both files
member_data_df = pd.DataFrame(member_data)
member_data_df.head()

,Member Level,Status,Expiration Date,Address,City,State,Zip_Code
0,Individual Membership,Active,6/30/21,3002 NE 5th Ter Apt 313,Wilton Manors,Florida,33334-2072
1,Individual Membership,Active,5/31/21,101 Sidonia Ave Apt 605,Coral Gables,Florida,33134-3307
2,Individual Membership,Active,5/31/21,10011 NW 32nd Ter,Doral,Florida,33172-5915
3,Individual Membership,Active,9/30/22,20355 NE 34 CT\nTower 2 Apt 424,Aventura,Florida,33180
4,Individual Membership,Active,5/31/21,610 SW 21st Rd,Miami,Florida,33129-1336

In [3]:
# Total count of UNIQUE member addresses
number_of_rows = len(member_data_df['Address'].unique())
number_of_rows

1340

In [4]:
# Rename Zip Code to Zipcode
member_data_df = member_data_df.rename(columns={'Zip_Code':'Zipcode'})
member_data_df

,Member Level,Status,Expiration Date,Address,City,State,Zipcode
0,Individual Membership,Active,6/30/21,3002 NE 5th Ter Apt 313,Wilton Manors,Florida,33334-2072
1,Individual Membership,Active,5/31/21,101 Sidonia Ave Apt 605,Coral Gables,Florida,33134-3307
2,Individual Membership,Active,5/31/21,10011 NW 32nd Ter,Doral,Florida,33172-5915
3,Individual Membership,Active,9/30/22,20355 NE 34 CT\nTower 2 Apt 424,Aventura,Florida,33180
4,Individual Membership,Active,5/31/21,610 SW 21st Rd,Miami,Florida,33129-1336
...,...,...,...,...,...,...,...
1885,Dual Membership,Active,9/30/21,141 Brighton D,Boca Raton,Florida,33434
1886,Dual Membership,Active,11/30/21,1130 11th Street Apt 6K,Miami Beach,Florida,33139
1887,Dual Membership,Active,9/30/22,3339 Virginia St. Apt 402,Miami,Florida,33133
1888,Dual Membership,Active,10/31/21,1865 Brickell Avenue Unit A2105,Miami,Florida,33129
1889,Dual Membership,Active,9/30/21,1439 SW 23rd Ter,Miami,Florida,33145-3954

In [5]:
# Total count of addresses (including duplicates)
qty_of_addresses = len(member_data_df['Address'])
qty_of_addresses

1890

In [6]:
revised_member_df = member_data_df.drop_duplicates(subset='Address', keep="first")
revised_member_df

,Member Level,Status,Expiration Date,Address,City,State,Zipcode
0,Individual Membership,Active,6/30/21,3002 NE 5th Ter Apt 313,Wilton Manors,Florida,33334-2072
1,Individual Membership,Active,5/31/21,101 Sidonia Ave Apt 605,Coral Gables,Florida,33134-3307
2,Individual Membership,Active,5/31/21,10011 NW 32nd Ter,Doral,Florida,33172-5915
3,Individual Membership,Active,9/30/22,20355 NE 34 CT\nTower 2 Apt 424,Aventura,Florida,33180
4,Individual Membership,Active,5/31/21,610 SW 21st Rd,Miami,Florida,33129-1336
...,...,...,...,...,...,...,...
1884,Dual Membership,Active,5/31/21,PO Box 260874,Miami,Florida,33126
1885,Dual Membership,Active,9/30/21,141 Brighton D,Boca Raton,Florida,33434
1886,Dual Membership,Active,11/30/21,1130 11th Street Apt 6K,Miami Beach,Florida,33139
1887,Dual Membership,Active,9/30/22,3339 Virginia St. Apt 402,Miami,Florida,33133
1889,Dual Membership,Active,9/30/21,1439 SW 23rd Ter,Miami,Florida,33145-3954

In [7]:
# Remove last 4-digits of zip code
revised_member_df['Zipcode'] = revised_member_df['Zipcode'].where(revised_member_df['Zipcode'].str.len() == 5, 
                                               revised_member_df['Zipcode'].str[:5])
#revised_member_df = revised_member_df['Zipcode'].str.extract(r'^(\d{5})', expand=False)
#revised_member_df

<ipython-input-7-d7a0013b15a1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revised_member_df['Zipcode'] = revised_member_df['Zipcode'].where(revised_member_df['Zipcode'].str.len() == 5,

In [8]:
revised_member_df.head()

,Member Level,Status,Expiration Date,Address,City,State,Zipcode
0,Individual Membership,Active,6/30/21,3002 NE 5th Ter Apt 313,Wilton Manors,Florida,33334
1,Individual Membership,Active,5/31/21,101 Sidonia Ave Apt 605,Coral Gables,Florida,33134
2,Individual Membership,Active,5/31/21,10011 NW 32nd Ter,Doral,Florida,33172
3,Individual Membership,Active,9/30/22,20355 NE 34 CT\nTower 2 Apt 424,Aventura,Florida,33180
4,Individual Membership,Active,5/31/21,610 SW 21st Rd,Miami,Florida,33129

In [9]:
# Checking type of zip code
type('Zipcode')

str

In [10]:
# Retrieving second file via API
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,08518,5217.0,41.5,74286.0,33963.0,170.0,3.258578
1,08520,27468.0,37.4,90293.0,37175.0,1834.0,6.676860
2,08525,4782.0,47.1,118656.0,59848.0,43.0,0.899205
3,08527,54867.0,42.2,88588.0,37021.0,2191.0,3.993293
4,08528,245.0,48.5,58676.0,49117.0,0.0,0.000000

In [11]:
 #File to Load
zipcode = "./Resources_Miamizipcode.csv"

# Read  Data File and store into Pandas DataFrames
df_zipcode = pd.read_csv(zipcode)
df_zipcode

     Zipcode      Name    state
0      33002   Hialeah  Florida
1      33010   Hialeah  Florida
2      33011   Hialeah  Florida
3      33012   Hialeah  Florida
4      33013   Hialeah  Florida
..       ...       ...      ...
118    33280  Aventura  Florida
119    33283   Kendall  Florida
120    33296   Kendall  Florida
121    33299     Miami  Florida
122    34141    Jerome  Florida

[123 rows x 3 columns]

In [12]:
type('Zipcode')

str

In [13]:
# Merge data sets
#df_zipcode["Zipcode"] = df_zipcode["Zipcode"].astype(int)
#revised_member_df ["Zipcode"] = revised_member_df["Zipcode"].astype(int)

merge_df = pd.merge(census_pd, revised_member_df, how = 'outer', on ='Zipcode')
merge_df

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Member Level,Status,Expiration Date,Address,City,State
0,08518,5217.0,41.5,74286.0,33963.0,170.0,3.258578,NaN,NaN,NaN,NaN,NaN,NaN
1,08520,27468.0,37.4,90293.0,37175.0,1834.0,6.676860,NaN,NaN,NaN,NaN,NaN,NaN
2,08525,4782.0,47.1,118656.0,59848.0,43.0,0.899205,NaN,NaN,NaN,NaN,NaN,NaN
3,08527,54867.0,42.2,88588.0,37021.0,2191.0,3.993293,NaN,NaN,NaN,NaN,NaN,NaN
4,08528,245.0,48.5,58676.0,49117.0,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34206,33222,NaN,NaN,NaN,NaN,NaN,NaN,Dual Membership,Active,2/28/21,PO Box 227814,Miami,Florida
34207,33234,NaN,NaN,NaN,NaN,NaN,NaN,Dual Membership,Active,10/31/22,PO Box 348254,Coral Gables,Florida
34208,33239,NaN,NaN,NaN,NaN,NaN,NaN,Dual Membership,Active,4/30/21,PO Box 398522,Miami Beach,Florida
34209,70184,NaN,NaN,NaN,NaN,NaN,NaN,Dual Membership,Active,4/30/21,PO Box 24655,New Orleans,Louisiana
34210,33171,NaN,NaN,NaN,NaN,NaN,NaN,Dual Membership,Active,10/31/21,815 83rd Street,Miami Beach,Florida

In [14]:
merge_df = merge_df.dropna()
merge_df

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Member Level,Status,Expiration Date,Address,City,State
10,08540,47316.0,37.5,125439.0,61810.0,1969.0,4.161383,Family Membership,Active,4/30/21,52 Arreton Rd,Princeton,New Jersey
120,10001,21966.0,34.7,81671.0,82166.0,3375.0,15.364654,Dual Membership,Active,11/30/21,"100 W 27th street, Apt 2N",New York,New York
121,10002,82191.0,39.8,33218.0,26227.0,23346.0,28.404570,Dual Membership,Active,2/28/21,215 Chrystie St Apt 29W,New York,New York
129,10011,52167.0,39.7,104238.0,110631.0,4379.0,8.394196,Dual Membership,Active,12/31/20,415 W 24th St Apt 3A,New York,New York
139,10022,29618.0,45.3,109019.0,129778.0,1318.0,4.449997,Dual Membership,Active,4/30/21,141 E 55th St Apt 9G,New York,New York
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31386,91789,42609.0,42.5,91623.0,33534.0,2448.0,5.745265,Dual Membership,Active,11/30/21,340 S Lemon Ave,Walnut,California
31387,91789,42609.0,42.5,91623.0,33534.0,2448.0,5.745265,Dual Membership,Active,11/30/21,"340 S Lemon Ave, unit 6133",Walnut,California
31478,92119,22965.0,43.1,67616.0,34648.0,1638.0,7.132593,Individual Membership,Active,3/31/21,6335 Lake Lucerne Dr,San Diego,California
31815,78577,72047.0,28.6,32054.0,12969.0,25856.0,35.887684,Family Membership,Active,3/31/21,PO Box 1330,Pharr,Texas
32871,96734,53068.0,34.7,89016.0,36481.0,3560.0,6.708374,Individual Membership,Active,6/30/21,1254 Ulupii Street,Kailua,Hawaii

In [15]:
# Isolate data to zipcode, median age, household income, member level, status, expiration date,  city, state
merge_df = merge_df.drop(columns=['Per Capita Income', 'Poverty Count', 'Status', 'Address'])
merge_df

,Zipcode,Population,Median Age,Household Income,Poverty Rate,Member Level,Expiration Date,City,State
10,08540,47316.0,37.5,125439.0,4.161383,Family Membership,4/30/21,Princeton,New Jersey
120,10001,21966.0,34.7,81671.0,15.364654,Dual Membership,11/30/21,New York,New York
121,10002,82191.0,39.8,33218.0,28.404570,Dual Membership,2/28/21,New York,New York
129,10011,52167.0,39.7,104238.0,8.394196,Dual Membership,12/31/20,New York,New York
139,10022,29618.0,45.3,109019.0,4.449997,Dual Membership,4/30/21,New York,New York
...,...,...,...,...,...,...,...,...,...
31386,91789,42609.0,42.5,91623.0,5.745265,Dual Membership,11/30/21,Walnut,California
31387,91789,42609.0,42.5,91623.0,5.745265,Dual Membership,11/30/21,Walnut,California
31478,92119,22965.0,43.1,67616.0,7.132593,Individual Membership,3/31/21,San Diego,California
31815,78577,72047.0,28.6,32054.0,35.887684,Family Membership,3/31/21,Pharr,Texas
32871,96734,53068.0,34.7,89016.0,6.708374,Individual Membership,6/30/21,Kailua,Hawaii

In [16]:
# Create database connection
import getpass

In [17]:
pwd_text=getpass.getpass('Enter password')

Enter password········

In [18]:
#rds_connection_string=<insert user name>:"+pwd_text+"

In [19]:
connection_string = "postgres:postgres@localhost:5432/member_db"
engine = create_engine(f'postgresql://{connection_string}')

In [20]:
# Check for tables
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
premise_transformed.to_sql(name='member', con=engine, if_exists='append', index=True)