In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from scipy.stats import linregress
from config import api_key
from config import g_key
from census import Census
c = Census(api_key, year=2013)

In [3]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,08518,5217.0,41.5,74286.0,33963.0,170.0,3.258578
1,08520,27468.0,37.4,90293.0,37175.0,1834.0,6.676860
2,08525,4782.0,47.1,118656.0,59848.0,43.0,0.899205
3,08527,54867.0,42.2,88588.0,37021.0,2191.0,3.993293
4,08528,245.0,48.5,58676.0,49117.0,0.0,0.000000

In [7]:
 #File to Load
zipcode = "./Resources_Miamizipcode.csv"

# Read  Data File and store into Pandas DataFrames
df_zipcode = pd.read_csv(zipcode)
df_zipcode

     Zipcode      Name    state
0      33002   Hialeah  Florida
1      33010   Hialeah  Florida
2      33011   Hialeah  Florida
3      33012   Hialeah  Florida
4      33013   Hialeah  Florida
..       ...       ...      ...
118    33280  Aventura  Florida
119    33283   Kendall  Florida
120    33296   Kendall  Florida
121    33299     Miami  Florida
122    34141    Jerome  Florida

[123 rows x 3 columns]